#newrelic {
    color: #474747;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

#newrelic .logo {
    margin: 30px 0;
}

#newrelic .logo-product > img {
    height: 50px;
}

#newrelic span.description-extension {
    margin: 0 0 30px;
    display: inline-block;
}

#newrelic span.description-php-versions {
    margin: 10px 0 0 305px;
    display: inline-block;
}

#newrelic input[id^="php_versions_"] {
    margin-left: 295px;
}

#newrelic label[for^="php_versions_"] {
    margin-left: 5px;
}

#newrelic span.logo-product-servers {
    display: inline-block;
    float: left;
    margin-top: 40px;
    width: 330px;
}

#newrelic span.logo-product-apm {
    display: inline-block;
    float: left;
    margin-top: 15px;
    width: 330px;
}

#newrelic span.logo-reboot_dummy {
    display: inline-block;
    float: left;
    margin-top: 20px;
    width: 330px;
    height: 50px;
}

#newrelic .description-product {
    display: inline-block;
    font-size: 11px;
    margin: 10px 0 20px;
}

#newrelic .description-product-reboot {
    display: inline-block;
    font-size: 13px;
    margin: 10px 0 20px;
    color: red;
}

#newrelic #btn-send {
    margin-left: 100px;
}

#newrelic #btn-send > button {
    background-color: cadetblue;
}

#newrelic #btn-cancel {
    display: none;
}

#newrelic .product-installed-servers {
    font-weight: bold;
    display: inline-block;
    margin-top: 25px;
    margin-left: -50px;
}

#newrelic .product-installed-apm, #newrelic .product-installed-reboot {
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    margin-left: -50px;
}